/**
 * @license
 * MyFonts Webfont Build ID 3454440, 2017-09-22T08:25:47-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SonnyGothic-Bold by W Foundry
 * URL: https://www.myfonts.com/fonts/without-foundry/sonny-gothic/bold/
 * 
 * Webfont: SonnyGothic-Light by W Foundry
 * URL: https://www.myfonts.com/fonts/without-foundry/sonny-gothic/light/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3454440
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2017 by Salvador Rodr&#x00ED;guez. All rights reserved.
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */

@import url("//hello.myfonts.net/count/34b5e8");
@font-face {
    font-family: 'SonnyGothic-Bold';
    src: url('webfonts/34B5E8_0_0.eot');
    src: url('webfonts/34B5E8_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/34B5E8_0_0.woff2') format('woff2'), url('webfonts/34B5E8_0_0.woff') format('woff'), url('webfonts/34B5E8_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'SonnyGothic-Light';
    src: url('webfonts/34B5E8_1_0.eot');
    src: url('webfonts/34B5E8_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/34B5E8_1_0.woff2') format('woff2'), url('webfonts/34B5E8_1_0.woff') format('woff'), url('webfonts/34B5E8_1_0.ttf') format('truetype');
}