    .wrapper {
        display: grid;
        display: -ms-grid;
        grid-column-gap: 0;
        grid-template-columns: 50px auto 50px;
        grid-template-rows: auto 1fr;
        -ms-grid-column-gap: 0;
        -ms-grid-columns: 50px auto 50px;
        -ms-grid-rows: auto 1fr;
        font-size: .9rem;
    }

    .sidebar_left {
        grid-column: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        background: #fff url("/img/lines_orange_50.png");
        background-attachment: fixed;
    }

    .content {
        background: #fff;
        grid-column: 2;
        grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }

    .logo {
        align-content: center;
        text-align: center;
        max-width: 100%;
        height: auto;
        max-height: 190px;
        margin-top: 5rem;
        margin-bottom: 7rem;
    } // .logo {
    //     max-height: 200px;
    //     max-width: 90%;
    //     margin-top: 5rem;
    //     margin-bottom: 7rem;
    // }
    .logo-subline {
        max-height: 37px;
        margin-top: 0;
        margin-bottom: 8rem;
    }

    .sidebar_right {
        grid-column: 3;
        grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        background: #fff;
    }

    footer {
        grid-column: 2;
        grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

    .copyright {
        margin-bottom: 2rem;
    } // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        .wrapper {
            display: grid;
            display: -ms-grid;
            grid-column-gap: 0;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: Auto 1fr;
            -ms-grid-column-gap: 0;
            -ms-grid-columns: 1fr 4fr 1fr;
            -ms-grid-rows: Auto 1fr;
            font-size: 1rem;
        }
        .sidebar_left {
            grid-column: 1;
            grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            background: #fff url("/img/lines_orange_bl.png");
        }
        .content {
            background: #fff;
            grid-column: 2;
            grid-row: 1;
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            padding: 0 200px;
            background: white url("/img/lines_orange_88.png");
            background-repeat: repeat-y;
        }
        .logo {
            align-content: center;
            text-align: center;
            max-width: 100%;
            height: auto;
            max-height: 220px;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        .sidebar_right {
            background: #fff;
            grid-column: 3;
            grid-row: 1;
            -ms-grid-column: 3;
            -ms-grid-row: 1;
        }
        footer {
            grid-column: 2;
            grid-row: 2;
            -ms-grid-column: 2;
            -ms-grid-row: 2;
        }
    } // Extra small devices (portrait phones, less than 576px)
    // No media query since this is the default in Bootstrap
    @media (min-width: 576px) {
        .content {
            padding: 0 100px;
        }
    } // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .content {
            padding: 0 100px;
        }
    } // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .content {
            padding: 0 100px;
        }
    } // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        .content {
            padding: 0 150px;
        }
    }

    @media (min-width: 1900px) {
        .content {
            padding: 0 200px;
        }
        .footer-grid {
            padding: 0 150px;
            display: grid;
            display: -ms-grid;
            grid-column-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-columns: 980px 100px 100px;
            -ms-grid-column-align: center;
            -ms-grid-row-align: center;
        }
        .ruler {
            border-bottom: 1px $grau solid;
            margin: 1rem 150px;
        }
        .web {
            text-align: right;
        }
        .address {
            text-align: left;
        }
    }