// @import 'normalize';
// @import 'skeleton';
@import 'fonts';
@import 'variables';
@import 'layout';
body {
    background: $schwarz;
    font-family: SonnyGothic-Light, Arial, Helvetica, sans-serif;
    color: $grau;
}

h1 {
    font-size: 2.2rem;
    color: $schwarz;
}

strong {
    font-family: SonnyGothic-Bold, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.slogan {
    margin-bottom: 2rem;
    position: relative;
}

.maincontent {
    margin-bottom: 4rem;
}

.company {
    letter-spacing: 2px;
}

a {
    color: $grau;
}

a:hover {
    color: $orange;
    text-decoration: none;
}

.orange {
    color: $orange;
}

.center {
    text-align: center;
}

.backlink {
    font-weight: 300;
    color: $schwarz;
}

backlink:hover {
    text-decoration: underline;
    color: $schwarz;
}

@media (min-width: 550px) {}