@charset "UTF-8";
/**
 * @license
 * MyFonts Webfont Build ID 3454440, 2017-09-22T08:25:47-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SonnyGothic-Bold by W Foundry
 * URL: https://www.myfonts.com/fonts/without-foundry/sonny-gothic/bold/
 * 
 * Webfont: SonnyGothic-Light by W Foundry
 * URL: https://www.myfonts.com/fonts/without-foundry/sonny-gothic/light/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3454440
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2017 by Salvador Rodr&#x00ED;guez. All rights reserved.
 * 
 * © 2017 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34b5e8");
@font-face {
  font-family: 'SonnyGothic-Bold';
  src: url("webfonts/34B5E8_0_0.eot");
  src: url("webfonts/34B5E8_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/34B5E8_0_0.woff2") format("woff2"), url("webfonts/34B5E8_0_0.woff") format("woff"), url("webfonts/34B5E8_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'SonnyGothic-Light';
  src: url("webfonts/34B5E8_1_0.eot");
  src: url("webfonts/34B5E8_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/34B5E8_1_0.woff2") format("woff2"), url("webfonts/34B5E8_1_0.woff") format("woff"), url("webfonts/34B5E8_1_0.ttf") format("truetype");
}

.wrapper {
  display: grid;
  display: -ms-grid;
  grid-column-gap: 0;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto 1fr;
  -ms-grid-column-gap: 0;
  -ms-grid-columns: 50px auto 50px;
  -ms-grid-rows: auto 1fr;
  font-size: .9rem;
}

.sidebar_left {
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  background: #fff url("/img/lines_orange_50.png");
  background-attachment: fixed;
}

.content {
  background: #fff;
  grid-column: 2;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.logo {
  align-content: center;
  text-align: center;
  max-width: 100%;
  height: auto;
  max-height: 190px;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.logo-subline {
  max-height: 37px;
  margin-top: 0;
  margin-bottom: 8rem;
}

.sidebar_right {
  grid-column: 3;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  background: #fff;
}

footer {
  grid-column: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.copyright {
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .wrapper {
    display: grid;
    display: -ms-grid;
    grid-column-gap: 0;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: Auto 1fr;
    -ms-grid-column-gap: 0;
    -ms-grid-columns: 1fr 4fr 1fr;
    -ms-grid-rows: Auto 1fr;
    font-size: 1rem;
  }
  .sidebar_left {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background: #fff url("/img/lines_orange_bl.png");
  }
  .content {
    background: #fff;
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    padding: 0 200px;
    background: white url("/img/lines_orange_88.png");
    background-repeat: repeat-y;
  }
  .logo {
    align-content: center;
    text-align: center;
    max-width: 100%;
    height: auto;
    max-height: 220px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .sidebar_right {
    background: #fff;
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  footer {
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
}

@media (min-width: 576px) {
  .content {
    padding: 0 100px;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 0 100px;
  }
}

@media (min-width: 992px) {
  .content {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding: 0 150px;
  }
}

@media (min-width: 1900px) {
  .content {
    padding: 0 200px;
  }
  .footer-grid {
    padding: 0 150px;
    display: grid;
    display: -ms-grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 980px 100px 100px;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
  }
  .ruler {
    border-bottom: 1px #868e93 solid;
    margin: 1rem 150px;
  }
  .web {
    text-align: right;
  }
  .address {
    text-align: left;
  }
}

body {
  background: #00121e;
  font-family: SonnyGothic-Light, Arial, Helvetica, sans-serif;
  color: #868e93;
}

h1 {
  font-size: 2.2rem;
  color: #00121e;
}

strong {
  font-family: SonnyGothic-Bold, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.slogan {
  margin-bottom: 2rem;
  position: relative;
}

.maincontent {
  margin-bottom: 4rem;
}

.company {
  letter-spacing: 2px;
}

a {
  color: #868e93;
}

a:hover {
  color: #ee7f00;
  text-decoration: none;
}

.orange {
  color: #ee7f00;
}

.center {
  text-align: center;
}

.backlink {
  font-weight: 300;
  color: #00121e;
}

backlink:hover {
  text-decoration: underline;
  color: #00121e;
}
 

 /*# sourceMappingURL= projektbau-goeppel.css.map */